html {
    background-color:#22252b;
}

.headcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.headcontainer h1{
    font-family: Quicksand;
    color: white;
    text-align: left;
    font-size: 70px;
}

.logo_container {
    max-height: 90px;
    max-width: 90px;
}

.logo_container img {
    object-fit: contain;
    height: 90px;
    width: 90px;

}

.container{
    padding: 30px;
    margin: auto;
    max-width: 1100px;
}


.bar{
    margin: auto;
    display: flex;
    max-width: 1000px;
}

.bar input{
    flex: 4;
    font-size: 40px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 20px;
}

.bar button{
    background-color: #FF4500;
    flex: 1;
    vertical-align: center;
    border-radius: 0px 50px 50px 0px;
}

.bar button img{
    display: block;
    height: 50px;
    width: 50px;
    margin: auto;
}


body{
    margin: 0;
}

.navbar{
    margin: 0px;
    padding: 0px;
    top: 0px;
    overflow: hidden;
    background-color: #FF4500;
    height: 50px;
}

.navbar a{
    bottom: 0;
    float:left;
    display: block;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px 10px;
    font-family: Quicksand;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    height: 50px;
}

.navbar a:hover{
    background-color: white;
    color: black;

}

.results{
    color: white;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 20px;
}

.results p{
    white-space:pre-wrap;
    background-color: #545452;
    padding: 20px;
    border-radius: 20px;
}

.results a:link{
    color: white;
}

.results a:visited{
    color: lightgrey;
}

.results a:hover{
    color: white;
}

.results a:active{
    color: white;
}

#upvotes{
    color:#FF4500;
}
#radio-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.selector{
    color: white;
}
